/* Write your CSS here */
.cryptocurrency-tracker-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  height: 100vh;
  padding: 20px;
}
